In [2]:
# Ejemplos de asignaciones
x=2
print (x)

2

In [3]:
x=x+3
print (x)

5

In [4]:
y=x**2
print(y)

25

In [5]:
z=23%5
print (z)

3

In [6]:
#Ejemplo de cómo no se deben hacer las sumas
x=1 + 2 + 3 * 5/2 # en Phyton las operaciones no se hacen de izquiera a derecha
print(x)

10.5

In [8]:
y=1+2**3/4*5
print (y)

11.0

In [10]:
y=(1+2)**3/4*5
print(y)

33.75

In [12]:
type (y)

float

In [14]:
texto="Hola"
print(texto)

Hola

In [16]:
type(texto)

str

In [17]:
texto2="Hola"+"Buen día"
print(texto2)

HolaBuen día

In [21]:
texto2= "Hola " + "Buen día"
print(texto2)

Hola Buen día

In [22]:
texto2=texto2+1

TypeError: can only concatenate str (not "int") to str

In [24]:
x=4
type(x)

int

In [26]:
x=10
y=15
z=x/y
type(z)

float

In [27]:
print(z)

0.6666666666666666

In [28]:
z=int(z)
print(z)

0

In [29]:
type(x)

int

In [30]:
x=float(x)
print(x)

10.0

In [31]:
type(x)

float

In [32]:
nombre=input("¿cómo te llamas?")
print("Tu nombre es",nombre)

¿cómo te llamas?Agustín
Tu nombre es Agustín

In [ ]:
edad=input("Dame tu edad")

In [ ]:
edad=input("Dame tu edad")

In [ ]:
nombre=input("¿cómo te llamas?")