In [1]:
x=("José","Alberto","Manuel")
x

('José', 'Alberto', 'Manuel')

In [2]:
print(x[2])

Manuel

In [4]:
#para operaciones con las tuplas
y=(1,4,6)
print(max(y))

6

In [5]:
#ejemplo que las tuplas no se pueden modificar, el corchete indica la posición de los elementosy[1]
z=("ABC")
z[2]="D"

TypeError: 'str' object does not support item assignment

In [6]:
y[1]=15

TypeError: 'tuple' object does not support item assignment

In [7]:
y.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [8]:
y.append()

AttributeError: 'tuple' object has no attribute 'append'

In [9]:
#entonces que operaciones puedo hacer con la variable (y) que creé
dir(y)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [10]:
(x,y)=(4,"Alberto")
print(x)

4

In [11]:
print(y)

Alberto

In [13]:
#para convertir diccionarios a tuplas
diccionario=dict()
diccionario["Alberto"]=25
diccionario["Pedro"]=30
diccionario

{'Alberto': 25, 'Pedro': 30}

In [15]:
#entonces para convertir el diccionario creado a tuplas

dict_items([('Alberto', 25), ('Pedro', 30)])

In [17]:
#para ordenamientos de diccionarios a tupla
d={"d":10,"b":15,"g":25}
tuplas=sorted(d.items())
tuplas

[('b', 15), ('d', 10), ('g', 25)]

In [1]:
type (tuplas)

NameError: name 'tuplas' is not defined